*{
  font-family: "Sedan variant0", Tofu;
}  
  .custom-navbar {
    height: 70px;
    /* width: 120%; */
    
  }
  .main{
/*  
     background-image:
    linear-gradient(to bottom, rgba(11, 25, 22, 0.522), rgba(2, 3, 3, 0.814)); */
  
    width: 100%;
    height: 80vh;
    background-size: cover;
    color: white;
    padding: 20px;

}
.main .card {
  display: flex;
  gap: 40px;
  margin-top: -6%;
  width: 70%;
  height: 40vh;
  margin-left: 15%;
  text-align: center;
  opacity: 0.8;
  /* background-color: red; */
}

.main .card a {
  position: relative; /* Ensure positioning context for pseudo-element */
  /* box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset; */
}

/* Add the bottom border pseudo-element */
.main .card a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: transparent; /* Initially transparent */
  transition: background-color 0.3s ease; /* Add transition for smooth effect */
}

/* Change the border color on hover */
.main .card a:hover::after {
  background-color: rgb(5, 118, 58);
    position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 98%;
  height: 3px;
  
  transition: width 0.3s ease, left 0.3s ease;
}

.main .card a{
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
.main .card p{
  color: black;
}

.main .heading{

  margin-top: 40%;
  width: 29vw;
  /* margin-left: 2%; */
 
}
/* .main span{
  font-size: 60px;
  line-height: 36px;
  color: rgb(6, 148, 162);
  font-weight: bold;
  margin: 0;
  text-transform: uppercase;
  text-shadow: 1px 2px 3px #000;
  width: 100%;
  text-align: center;
  padding: 10px;
  
} */
.main .img1{
  width: 28vw;
  margin-top: 5%;
}
.main h2{
  color: rgb(216 225 226);
  text-shadow: 3px 5px 6px #000;
  text-align: center;
  padding: 10px;
  font-family: emoji;
  /* font-weight: bold; */
  font-size: 49px;
  line-height: 44px;
  text-transform: uppercase;
   
 
}
.image .img1{
    height: 60vh;
    width: 40vw;
    margin-top: 10%;
    margin-left: 80px;

}
.hero-container{
  position: absolute;
  background-color: #1eb2a669;
  opacity: 0.6;
  width: 27%;
  height: 55%;
  top: 20%;
  
}

.hero-container h2{
 padding: 40px 15px;
 position: absolute;
 top: -14%;
 margin-left: -22px;

}
.hero-container a{
  position: absolute;
  top: 80%;
  margin-top: -24px;
  margin-left: 20px;
  border: 1px solid rgb(6 148 162);
    font-size: 23px;
    padding: 16px 15px;
    left: 25%;
    color: rgb(6 148 162);
    position: absolute;
    
}
.hero-container a:hover{
  background-color:  rgb(6 148 162);
  color: white;

    
}

.featured-container{
  margin-top: -78px;
}
  .dropdown-item {
    font-size: 180px; /* Adjust the font size as needed */
  }

  .navbar-link {
    font-size: 20px; /* Adjust the font size according to your preference */
    /* Add any other custom styles for the navbar links */
  }

  .line-left,
  .line-right {
    position: absolute;
    margin-top: 29px;
    width: 93px;
    height: 5px;
    background-color: #1eb2a6;
  }

  .line-left {
    left: 36%;
  }

  .line-right {
    right: 36%;
  }


  .side-left,
  .side-right {
    position: absolute;
    margin-top: 10px;
    width: 93px;
    height: 5px;
    background-color: #1eb2a6;
  }

  .side-left{
    left: 83%;
    margin-top: 18%;

  }

  .side-right{
    right: 83%;
  }



  .line-left::before {
    left: -25px; 
  }

  .fees-structure {
    margin: 20px 0;
  }



  .fees-table {
    width: 100%;
  }

  .fees-header {
    background-color: #f2f2f2;
  }

  .fees-cell {
    padding: 12px;
    border-bottom: 1px solid #ddd;
  }

  .fees-row:nth-child(even) {
    background-color: #f2f2f2;
  }

  .fees-row:hover {
    background-color: #ddd;
  }

  .overlay-text{
    font-size: 40px;
    line-height: 36px;
    color: #fff;
    font-weight: bold;
    margin: 0;
    text-transform: uppercase;
    text-shadow: 1px 1px 3px #000;
    position: absolute;
    left: 0;
    top: 52%;
    width: 100%;
    text-align: center;
    opacity: 0.6;
    background:#040a13;
    padding: 10px;

  }
.admission-content{
  margin-top: 3%;


}
/* About */
.about-details{
  margin-top: 40px;
  flex-direction: row;
  margin-left: -300px;
  width: 25%;

 }
 .img-director{
  width: 35%;
 }
 .para2{
  width: 105%;
 }
 .para3{
  width: 198%;
 }
/* TopFaq */
.img-Topfaq{
  width: 40vw;
  height: 38vh;
  margin-left: 30%;
}
.overlay-Topfaq{
  width: 109%;
}
/* Placement */

.placement-img{
  width: 44vw;
  height: 39vh;
  margin-left: 28%;
}

/* contact  */
.img-contact{
  width: 30vw;
  height: 44vh;
  margin-left: 35%;
}
.foot{
  margin-top: 180px;
  height: 50vh;


}
.visionAndMission{
  width: 60%;
  height: 41%;
  margin-left: 29%;

}
/* course */
.course-img{
  width: 83vw;
  height: 44vh;
  margin-left: 8%;
 }
/* Apply  */
.apply-img{
  
  width: 34vw;
  height: 46vh;
  margin-left: 36%;
}
 /* faculty */
 .faculty-line{
  margin-top: 5%;
 
}

/* gallery */
.carousel2{
  margin-top: 5%;
  margin-left: 25%;
  margin-right: 10%;
  width: 50%;

}
.carousel1{
  margin-top: 12%;
  margin-left: 25%;
  width: 50%;

}

.container-gallery{
  width: 110%;
  height: 21vh; 
}
  


@keyframes img {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}

/* Apply the animation to the carousel image */
.img {
  animation: slideInFromBottom 1s ease-out;
}

@media(max-width: 900px){
  .foot{
    margin-left: -37px;
    height: 128vh;
    width: 121%;


  }

}

@media (max-width: 900px) {
  .custom-ul{
    position: relative;
    background-color: #fdfafa;
    margin-left: 9vw;
    z-index: 1;
  }
  .main{
    width: 111%;
    height: 46vh;

  }
 .visionAndMission{
  width: 83%;
  margin-left: 46px;
 }
 /* carousel image */
 .carousel-img{
  display: contents;
  margin-top: 90%;
 }

 /* placement */
 .placement-content{
  width: 34vw;
    height: 46vh;
    margin-left: 36%;
 }
 .overlay-line{
  width: 109%;
 }


 /* About */
#about{
  width: 110%;
}
.para2{
  width: 384%;

}
.para3{
  width: 379%;

}

.about-details{
margin-left: 0%;
  flex-direction: column;
  width: 25%;

 }

 .img-director{
  width: 105%;
 }
.carousal1{
  width: 100vw;
  
}
 /* Gallery */
 .carousel1 {
  margin-top: 45%;
  margin-left: 8%;
  width: 85%;
}
.carousel2 {
  margin-top: -20%;
  margin-left: 8%;
  width: 85%;
}
 /* footer */
 .about-footer{
  margin-left: 35px;
 }
 .social-footer{
  margin-left: 28%;

 }

 .contact-footer{
  margin-top: 10px;
  margin-left: 35px;
 }

 /* course */
 .overlay-alpha{
  margin-top: -156px;
  margin-left: 20px;

 }
 .course-content{
  width: 138%;
  margin-left: -43px;
 }
 .course-img{
  width: 105vw;
  height: 40vh;
  margin-left: 5%;

 }
 .container-course{
  margin-left: 51px;
  margin-top: -11px;
 }
 .course-list{
  width: 79%;
  margin-left: 57px;
  gap: 61px;

 }

 .contact-content {
  flex-direction: column;
 }
 .img-contact {
  width: 75vw;
  height: 42vh;
  margin-left: 17%;

 }
 .form{
  margin-left: -207px;

 }
 .location{
  margin-left: -24px;

 }
  .card{
    display: flex;
    flex-direction: column;
    gap: 0;
    margin-top: 118px;
    margin-left: 12px;
  }
  .second-main{
    margin-top: 39rem;
  }
  .main .img1{
    display: none;
  }
  .need-more-info{
    width: 109%;
  }
  .small-speciality{
    width:109%;
  }
  .small-faq{
     width: 109% 
  }
  .small-footer{
    width: 109% 
 }

  .small-screen{
    flex-direction: column;
    width: 202%;
  }
 
  .featured-container {
    margin-top: -39px;
    margin-left: -43px;
}
  .custom-inner{
    width: 100vw;
  }
  .line-left,
  .line-right {
    margin-top: 20px; /* Adjust margin-top for tablet */
  }
  .side-left{
    left: 83%;
    width: 16%;
    margin-top: 10%;
  }
  .side-right{
    margin-top: -6px;

  }
  /* TopFaq */
  .img-Topfaq{
    width: 81vw;
    height: 28vh;
    margin-left: 15%;
    margin-top: 23%;
  }

  /* faculty and staff */
  .faculty-line{
    width: 109%;
    margin-top: -125px;
  }
  .faculty-img{
    width: 108vw;
  
  }
  .img-facul{
    height: 35vh;
  }
  
  /* placement */
.footer-placement{
  margin-top: 301%;
  
  }
 
  .placement-img{
    width: 90vw;
    height: 39vh;
    margin-left: 12%;

  }
  .placement-content{
    flex-direction: column;
  }
  /* apply */
  .apply-img{
        width: 48vw;
    height: 34vh;
    margin-left: 23%;
  }
  .content-apply{
    margin-left:    -22px;
  }
  .admission-criteria{
    flex-direction: column;
    margin-top: -85px;
  }
  .admission-link{
  display: none;
  }
  /* .admission-link2{
    display: flex;
    margin-top: -18px;
  } */
  .admission-content{
    margin-top: 60%;
   

  }

  /* sidebar course */
  .sidebar-course{
    display: none;
  }

  /* adimission process */
    .admission-process{
      margin-left: -156px;
    }
  /* Sidebar admission Process */
  .sidebar-admissionProcess{
    display: none;
  }
  /* Sidebar Top faq */
  .left-sidebar {
    display: none;
  }
  /* Sidebar Admission */
  .admission-link2{
    display: none;
  }

  /* sidebar apply  */
  .sidebar-apply{
    display: none;
  }
  /* sidebar faculty */
  .sidebar-faculty{
    display: none;
  }
}

@media (max-width: 576px) {
  
  .line-left,
  .line-right {
    margin-top: 47px;
    margin-left: 9px;
    height: 3px;

  }
}