

.aboutHome {
    height: auto;
  }
  .aboutHome #heading {
    text-align: left;
    padding: 0;
  }
  .aboutHome .left img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .aboutHome .right {
    padding: 118px 73px;
    margin-left: 18px;
  }
  .aboutHome .items {
    margin-top: 50px;
  }
  .aboutHome .item {
    background-color: #fff;
    margin-top: 30px;
    padding: 20px;
    transition: 0.5s;
  }
  .aboutHome .img {
    width: 200px;
  }
  .aboutHome img {
    width: 70px;
    height: 70px;
  }
  .aboutHome .item h2 {
    font-size: 20px;
    margin-bottom: 15px;
  }
  .aboutHome .item p {
    color: #999999;
  }
  .aboutHome .item:hover {
    background-color: #1eb2a6;
    color: #fff;
    cursor: pointer;
    box-shadow: 0 5px 25px -2px rgb(0 0 0 / 6%);
  }
  .aboutHome .item:hover p {
    color: #fff;
  }

  .container{
    display: flex;
    margin-left: 120px;
    gap: 220px;
  }

  @media only screen and (max-width: 600px) {
    .container{
      display: flex;
      margin-left: 0px;
      gap: 113px;
    }
    .aboutHome .left img {
      
      margin-left: -58px;
  }
  .container{
    margin-top: 60px;
    flex-direction: column;
  }
  .right {
    margin-left: -54px;
    margin-top: -218px;
  }
  }